# PostgreSQL суперкорисник
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Апликациони корисници и базе
MYWMS_DB=mywms
MYWMS_USER=mywms
MYWMS_PASS=mywms

RS_DB=reportserver
RS_USER=reportserver
RS_PASS=reportserver

# Портови
PG_PORT=5432
MYWMS_HTTP=8080
MYWMS_MGMT=9990
RS_HTTP=8085
PGADMIN_HTTP=5050

# Хост путање за перзистенцију и бекап
PG_HOST_DATA=/srv/pgadata
PG_HOST_BACKUP=/srv/pgbackup
